{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <span class="tag">VedaCure +</span>

        <h1>
            Traditional Remedies<br>
            for Modern Living
        </h1>

        <p>
            Discover trusted home remedies with smart suggestions,
            guided by tradition and enhanced with AI.
        </p>

        <div class="hero-buttons">
            <a class="btn primary">Explore</a>
            <a class="btn secondary">Dive In</a>
        </div>
    </div>
</section>
{% endblock %}
