{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="remedy-section">

    <h1 class="remedy-title">
        Explore the <span>Certified Traditional</span><br>
        remedies for the <strong>Vedacure</strong>
    </h1>

    <p class="remedy-subtitle">
        Discover trusted home remedies with smart suggestions,
        guided by tradition and enhanced with AI.
    </p>

    <div class="remedy-wrapper">

    <button class="arrow" onclick="slideLeft()">&#8592;</button>

    <div class="remedy-viewport">
        <div class="remedy-track" id="remedyTrack">

            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/haircare.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/skincare.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/bodycare.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/oral and dental.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/womens-period-health.jpg.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'digestive-health.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/mental-and-nervous.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/pains and acne.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/ent health.jpg' %}">
                </div>
                
            </div>
        
            <div class="remedy-card">
                <div class="card-inner">
                    <img src="{% static 'images/cold cough and fever.jpg' %}">
                </div>
                
            </div>
        
        </div>
        
    </div>

    <button class="arrow" onclick="slideRight()">&#8594;</button>

</div>


</section>

{% comment %} <script>
let index = 0;

function slideRight() {
    const track = document.getElementById("remedyTrack");
    index++;
    if (index > 7) index = 0;
    track.style.transform = `translateX(-${index * 33.33}%)`;
}

function slideLeft() {
    const track = document.getElementById("remedyTrack");
    index--;
    if (index < 0) index = 7;
    track.style.transform = `translateX(-${index * 33.33}%)`;
}
</script> {% endcomment %}

{% endblock %}
